<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sys.mapper.UsersMapper">
    <select id="getUserName" resultType="string">
        SELECT user_id
        FROM m_users
        WHERE user_name = #{userName} and del_flg='0'
    </select>

    <select id="getPassword" resultType="string">
        SELECT user_id
        FROM m_users
        WHERE password = #{password} and del_flg='0'
    </select>

    <select id="getDesignatedUserInfo" resultType="com.example.sys.vo.UsersAddReq">
        SELECT icon,
               user_name,
               email,
               birthday,
               country_kbn,
               mobile_phone,
               address,
               specialty,
               school,
               admission_date,
               graduation_date,
               description,
               courses,
               project_histories,
               work_histories,
               languages,
               skills,
               case gender_kbn when 1 then '男' when 2 then '女' end as gender_kbn
        FROM m_users
        WHERE user_id = #{userId}
    </select>

</mapper>
